.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(6, 6, 6, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: white;
  width: 90vw;
  max-width: 80vw;
  height: 90vh;
  max-height: 80vh;
  border-radius: 3vw;
  gap: 2vh;
  padding: 3vh 3vw;
  overflow: auto;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  top: 2vh;
  right: 2vw;
  z-index: 9;
  width: 7vh;
  height: 7vh;
  min-width: 50px;
  min-height: 50px;
  border-radius: 1vw;
  gap: 2vh;
  padding: 0.8vh;
  background: rgba(32, 27, 16, 1);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
