.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 3vw;
  width: 100%;
  min-height: 10vh;
  box-sizing: border-box;
}
.logosContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  flex: 1;
}
.summerSchools {
  width: 15vw;
  height: auto;
  max-width: 259px;
  min-width: 200px;
}
.intergalacticAnalytics {
  width: 25vw;
  height: auto;
  max-width: 511px;
  min-width: 300px;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  flex: 1;
  justify-content: flex-end;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 1vh 1.5vw;
  cursor: pointer;
  font-size: 1.2vh;
  min-width: 8vw;
  max-width: 15vw;
  height: auto;
  min-height: 35px;
}
.analysticsBtn {
  min-width: 10vw;
  max-width: 20vw;
  height: auto;
  min-height: 61px;
}
.generatorBtn {
  min-width: 10vw;
  max-width: 20vw;
  height: auto;
  min-height: 61px;
}
.historyBtn {
  min-width: 8vw;
  max-width: 15vw;
  height: auto;
  min-height: 61px;
}
